html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: var(--bg);
  --btn: #fe016c;
  --bg: #fff;
  --color: #232323;
  --accent: rgb(64, 65, 73);

  &[data-theme="dark"] {
    background: var(--bg);
    --btn: #ffbd07;
    --bg: #232323;
    --color: #fff;
    --accent: #fafafa;
  }
}

.intro-text {
  color: var(--color);
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 55px;
  height: 30px;
  background: var(--btn);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;

  &:after {
    content: "";
    background: var(--bg);
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  }
}

input:checked + label {
  background: var(--btn);

  &:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--bg);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
}

header {
  background: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 9vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

button {
  border: 1px solid white;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  background: var(--btn);
  color: var(--bg);
  cursor: pointer;
}

h3 {
  text-align: center;
}

.logo-container {
  width: 30%;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 5px;
  color: var(--color);
}

.fa-code {
  color: var(--color);
  font-size: 18px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;

  span {
    margin: 0px 10px;
    color: var(--color);
    user-select: none;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  a {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 0px 6px;
    border-radius: 3px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin: 0px 10px 0px 0px;
    color: var(--color);
    font-size: 1.4rem;

    &:hover {
      -webkit-box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, 0.75);
      background: var(--color);
      color: var(--bg);
    }
  }

  &:last-of-type {
    margin: 0px;
  }
}

nav {
  width: 30%;
}

.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 16%;

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: -0.5rem;
  }
}

.fix {
  position: fixed;
  z-index: 2;
}

.fa-github-square {
  font-size: 4.4rem;
  top: 300px;
  color: var(--color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  left: -2px;
}

.fa-linkedin {
  font-size: 4.4rem;
  top: 250px;
  color: var(--color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  left: -2px;
}

.fa-github-square:hover,
.fa-linkedin:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.video {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10vh;
}

.resume-button {
  color: var(--bg);
  background: var(--btn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15em;
  height: 2em;
  border-radius: 3px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.4rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.fa-arrow-down {
  margin-left: 15px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15%;
  margin-left: 6%;
  margin-right: 6%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-box {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card {
  width: 390px;
  height: 380px;
  border: 3px solid black;
  margin-top: 50px;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.card-box:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background: var(--accent);
}

.card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--accent);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: var(--bg);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  h1 {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--bg);
    font-weight: 300;
    font-size: 2rem;
    padding: 30px;
    margin-top: 35px;
  }
}

.card-text {
  list-style: none;
  margin: 55% 50px 0px 50px;
  line-height: 40px;
  font-size: 1.6rem;
  color: var(--bg);

  li {
    margin: 4px;
  }

  li:not(:last-child) {
    border-bottom: 1px solid var(--bg);
  }
}

.card-img {
  position: absolute;
  left: 0px;
  display: block;
  height: auto;
  max-width: 100%;
  min-height: 15rem;
  z-index: -1;
}

.img-container {
  width: 100%;
  height: 20rem;
  min-height: 15rem;
  position: absolute;
  overflow: hidden;
}

.overlay {
  height: 43.3%;
  width: 100%;
  position: absolute;
  top: -10px;
  z-index: 1;
  opacity: 0.6;
}

.card-title-top {
  position: absolute;
  top: -1;
  right: 0;
  font-size: 2rem;
  z-index: 2;
  color: white;
  margin-top: 5%;
  margin-right: 2%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.card-title-bottom {
  position: absolute;
  top: -1;
  right: 0;
  font-size: 2rem;
  z-index: 2;
  color: white;
  margin-top: 14.7%;
  margin-right: 2%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.cotton-candy {
  background: #eeaeca;
  background: linear-gradient(129deg, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
  border-radius: 5px;
}

.ocean-blue {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4b6cb7),
    to(#182848)
  );
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  border-radius: 5px;
}

.see-more-button {
  background: var(--btn);
  color: var(--bg);
  cursor: pointer;
  width: 175px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: -50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.8rem;

  &:hover {
    background: var(--btn);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 4px, 4px, 0px, 10px black;
    box-shadow: 4px, 4px, 0px, 10px black;
  }
}

.bg-modal1,
.bg-modal2,
.bg-modal3,
.bg-modal4,
.bg-modal5,
.bg-modal6 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  display: none;
}

.modal-content {
  width: 90%;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-left {
  width: 70%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  p {
    text-align: center;
    margin: 5%;
  }
}

.gif {
  height: auto;
  width: 100%;
}

.modal-header {
  font-size: 3.5rem;
}

.modal-subhead {
  font-size: 1.8rem;
  color: #818181;
}

.modal-description {
  font-size: 1.4rem;
}

.modal-button {
  width: 16rem;
  height: 3.5rem;
  border: none;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.close1,
.close2,
.close3,
.close4,
.close5,
.close6 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  font-size: 4.2rem;
  z-index: 5;

  &::before {
    content: "";
    transform: rotate(45deg);
    background: white;
    border: 10px solid white;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    right: -4px;
    top: 14px;
    z-index: -1;
  }
}

.close1:hover,
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover {
  color: red;
}

footer {
  height: 50px;
}

i {
  border: solid var(--color);
  border-width: 0 2px 2px 0;
  display: inline-block;
}

.arrow-container {
  cursor: pointer;
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 12px;
  -webkit-animation: bounce 6s infinite;
  animation: bounce 6s infinite;
  left: 12px;
}

.second {
  margin-top: 7px;
  margin-left: 7px;
}

@keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  30% {
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
  }
}

@keyframes bounceHover {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px) scale(1);
    transform: translate(0px) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate(10px, 10px) scale(0.9);
    transform: translate(10px, 10px) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px) scale(0.9);
    transform: translate(-10px, -10px) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0px) scale(1);
    transform: translate(0px) scale(1);
  }
}

.arrow-container:hover .arrow {
  &.first {
    -webkit-animation: bounceHover 1.4s 0.2s infinite linear;
    animation: bounceHover 1.4s 0.2s infinite linear;
  }

  -webkit-animation: bounceHover 1.4s infinite linear;
  animation: bounceHover 1.4s infinite linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card-front {
  &:nth-child(1) {
    -webkit-animation: fadeIn 1s 0.3s forwards;
    animation: fadeIn 1s 0.3s forwards;
  }

  &:nth-child(2) {
    -webkit-animation: fadeIn 1.5s 0.6s backwards;
    animation: fadeIn 1.5s 0.6s backwards;
  }

  &:nth-child(3) {
    -webkit-animation: fadeIn 1.5s 0.9s backwards;
    animation: fadeIn 1.5s 0.9s backwards;
  }

  &:nth-child(4) {
    -webkit-animation: fadeIn 2s 1.2s backwards;
    animation: fadeIn 2s 1.2s backwards;
  }

  &:nth-child(5) {
    -webkit-animation: fadeIn 2s 1.5s backwards;
    animation: fadeIn 2s 1.5s backwards;
  }

  &:nth-child(6) {
    -webkit-animation: fadeIn 2s 1.8s backwards;
    animation: fadeIn 2s 1.8s backwards;
  }
}

@media all and (max-width: 884px) {
  .fa-github-square {
    left: auto;
    right: 0px;
    margin-right: 20px;
  }

  .fa-linkedin {
    left: auto;
    right: 0px;
    margin-right: 80px;
  }

  .fix {
    position: fixed;
    z-index: 2;
    top: 14px;
  }

  .toggle-container {
    width: 50%;
    position: relative;
  }

  .intro-text {
    padding-top: 28%;
  }

  .nav-links {
    display: none;
  }

  .card-box:hover .card {
    -webkit-transform: none;
    transform: none;
  }

  .img-container {
    height: 21rem;
  }

  .card {
    width: 450px;
    height: 500px;
  }

  .card-text {
    font-size: 1.6rem;
  }

  .card-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
    -webkit-transform: translate(0, 393px);
    transform: translate(0, 393px);
    z-index: 2;

    h1 {
      display: none;
    }
  }

  .see-more-button {
    margin: 2px 0px 0px 0px;
  }

  .modal-content {
    width: 90%;
    background-color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .modal-left {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .modal-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  iframe {
    width: 550px;
    height: 300px;
  }
}

@media all and (max-width: 656px) {
  &[data-theme="dark"] {
    .toggle-container {
      span {
        position: absolute;
        margin: 0;
        top: 33px;

        &:first-of-type {
          display: none;
        }
      }
    }
  }

  &[data-theme="light"] {
    .toggle-container {
      span {
        position: absolute;
        margin: 0;
        top: 33px;

        &:last-of-type {
          display: none;
        }
      }
    }
  }

  .logo-container {
    width: 45%;
  }

  iframe {
    width: 450px;
    height: 250px;
  }
}

@media all and (max-width: 556px) {
  .card {
    width: 400px;
    height: 450px;
  }

  .card-back {
    transform: translate(0, 350px);
  }

  .fa-github-square {
    margin-right: 15px;
  }

  .fa-linkedin {
    margin-right: 60px;
  }
}

@media all and (max-width: 500px) {
  iframe {
    width: 400px;
    height: 230px;
  }

  .fa-code {
    font-size: 1.4rem;
  }

  .logo {
    font-size: 1.6rem;
  }

  .intro-text {
    padding-top: 50%;
  }
}

@media all and (max-width: 420px) {
  iframe {
    width: 350px;
    height: 200px;
  }

  .resume-button {
    width: 15em;
    font-size: 2rem;
  }

  .card {
    width: 310px;
    height: 380px;
  }

  .card-back {
    transform: translate(0, 290px);
  }

  .logo-container {
    width: 55%;
  }
}

@media all and (max-width: 370px) {
  iframe {
    width: 320px;
    height: 180px;
  }

  .toggle-container {
    margin-left: -20px;
  }
}
