html {
    font-size: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(250, 224, 30);
}

header {
    display: flex;
    position: fixed;
    z-index: 1;
    background: rgb(250, 224, 30);
    width: 100%;
    height: 10vh;
    align-items: center;
    margin-left: 5%;
}

nav {
    margin-right: 10%;
}

button {
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: rgb(250, 224, 30);
    cursor: pointer;
}

h3 {
    text-align: center;
}

.nav-links {
    display: flex;

}

.logo {
    display: inline-flex;
}

.nav-links {
    list-style: none;
    margin-left: 75%;
    margin-top: 20px;
    justify-content: flex-end;
}

.nav-link {
    padding: 1px 6px;
    border-radius: 3px;
    transition-duration: 0.3s;
    margin: 0px 10px 0px 0px;
    color: black;
    font-size: 1.4rem;
}

.nav-link:hover {
    -webkit-box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, 0.75);
    background-color: rgb(0, 0, 0);
    color: rgb(250, 224, 30);
}

nav {
    flex: 1;
}

.intro-text h1 {
    text-align: center;
    padding-top: 18%;
    font-size: 3rem;

}

.intro-text h2 {
    text-align: center;
    font-size: 2rem;
}

.fix {
    position: fixed;
}

.fa-github-square {
    font-size: 4.4rem;
    top: 300px;
    color: black;
}

.fa-linkedin {
    font-size: 4.4rem;
    top: 250px;
    color: black;
}

.fa-github-square:hover,
.fa-linkedin:hover {
    transform: scale(1.1);
}

.video {
    display: flex;
    padding-top: 200px;
    justify-content: center;
}

.two {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.resume-button {
    width: 15em;
    height: 2em;
    border-radius: 3px;
    box-shadow: 1px 4px 8px 0px black;
    border: none;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2.4rem;
    border: none;
    transition: all 0.1s ease-in-out;
}

.resume-button a {
    color: rgb(250, 224, 30);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-button:hover {
    transform: scale(1.05);
}

.fa-arrow-down {
    margin-left: 15px;
    margin-top: 5px;
}

.card-container {
    display: flex;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.card-box {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 350px;
    border: 4px solid black;
    margin-top: 50px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
    transform-style: preserve-3d;
    transition: 0.7s ease-in-out;
}

.card-box:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    display: flex;
    background-image: linear-gradient(to right bottom, #000000, #151414, #232120, #302f2d, #3d3d3a);
    transform: rotateY(180deg);
    color: rgb(250, 224, 30);
    justify-content: center;
    flex-wrap: wrap;
}

.card-back h1 {
    align-content: center;
    justify-content: center;
    color: rgb(250, 224, 30);
    font-weight: 300;
    font-size: 2rem;
    padding: 30px;
    margin-top: 35px;
}

.card-text {
    list-style: none;
    margin: 180px 50px 0px 50px;
    line-height: 40px;
    font-size: 1.4rem;
}

.card-text li:not(:last-child) {
    border-bottom: 1px solid #0004;
}


.card-img {
    position: absolute;
    left: 0px;
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 15rem;
    z-index: -1;
}

.img-container {
    width: 100%;
    height: 15rem;
    min-height: 15rem;
    position: absolute;
    overflow: hidden;
}

.overlay {
    height: 43.3%;
    width: 100%;
    position: absolute;
    top: -10px;
    z-index: 1;
    opacity: 0.6;
}

.card-title-top {
    position: absolute;
    top: -1;
    right: 0;
    font-size: 2.3rem;
    z-index: 2;
    color: white;
    margin-top: 5%;
    margin-right: 2%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.card-title-bottom {
    position: absolute;
    top: -1;
    right: 0;
    font-size: 2.3rem;
    z-index: 2;
    color: white;
    margin-top: 14.7%;
    margin-right: 2%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.cotton-candy {
    background: rgb(238, 174, 202);
    background: -moz-linear-gradient(129deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-linear-gradient(129deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: linear-gradient(129deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
    border-radius: 5px;
}

.ocean-blue {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border-radius: 5px;
}

.see-more-button {
    background: none;
    color: rgb(250, 224, 30);
    border: 1px rgb(250, 224, 30) solid;
    cursor: pointer;
    width: 175px;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: -50px;
    transition: 0.5s;
    font-size: 1.8rem;
}

.see-more-button:hover {
    background: rgb(250, 224, 30);
    color: #000000;
    transform: translateY(-5px);
    box-shadow: 4px, 4px, 0px, 10px black;
}

.bg-modal1,
.bg-modal2,
.bg-modal3,
.bg-modal4,
.bg-modal5,
.bg-modal6 {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.modal-content {
    height: 70%;
    width: 90%;
    background-color: white;
    position: relative;
    display: flex;
}

.modal-left {
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: aquamarine;
}

.modal-right {
    width: 30%;
    height: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-right p {
    text-align: center;
    margin: 5%;
}

.gif {
    height: 100%;
    width: 100%;
}

.modal-header {
    font-size: 3.5rem;
}

.modal-subhead {
    font-size: 1.8rem;
    color: rgb(129, 129, 129);
}

.modal-description {
    font-size: 1.4rem;
}

.modal-button {
    width: 16rem;
    height: 3.5rem;
    border: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button a {
    color: rgb(250, 224, 30);
}

.close1,
.close2,
.close3,
.close4,
.close5,
.close6 {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    font-size: 4.2rem;
}

.close1:hover,
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover {
    color: red;
}

footer {
    height: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-front:nth-child(1) {
    animation: fadeIn 1s .3s forwards;
}

.card-front:nth-child(2) {
    animation: fadeIn 1.5s .6s backwards;

}

.card-front:nth-child(3) {
    animation: fadeIn 1.5s .9s backwards;

}

.card-front:nth-child(4) {
    animation: fadeIn 2s 1.2s backwards;

}

.card-front:nth-child(5) {
    animation: fadeIn 2s 1.5s backwards;

}

.card-front:nth-child(6) {
    animation: fadeIn 2s 1.8s backwards;
}